.more .more__btn-list,
.more .more__suggestions-list {
  margin: 30px 0px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 120px 120px 120px;
  /*more__btn-list과 more__suggestions-list의 간격을 같게 하기 위해
  display:grid 를 이용하여 배치*/
  align-items: center;
}
.more__btn-list .more__btn,
.more .suggestion {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.more__btn-list .more__btn-title {
  font-size: 14px;
  margin-top: 15px;
}
.more .more__suggestions {
  padding-top: 20px;
  border-top: 1px solid #f7f7f7;
}

.more .more__title {
  margin-bottom: 20px;
  opacity: 0.8;
}

.more .suggestion__title {
  font-size: 14px;
  margin-top: 15px;
  opacity: 0.8;
}
.suggestion .suggestion__icon {
  background-color: #fce006;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.suggestion__icon i {
  font-size: 28px;
  color: white;
}
